<div class="top">
<h1>すべての人にテクノロジーという武器を</h1>

<p>dive into code</p>
<%= link_to '問合せ', inquiries_path %>
</div>

<div class="boxA">

  <div class="box1">

    <div class="site">
      <h1><a href="#">Dive into Code by 池田和弘</a></h1>
    </div>

  </div>

  <div class="box2">
    <nav class="menu">
      <ul>
        <li><%= link_to "Top",root_path %></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>

</div>

<div class="box3">
  <%= image_tag("dictop.jpg",class:"topimg") %>
</div>


<div class="box4">
  3つの特長表示欄
</div>

<div class="box5">
  コピーライト
</div>





