<div class="row">
  <div class="col-md-offset-4 col-md-4">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>ブログの作成</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <br>
    <%= link_to 'ブログ一覧に戻る', blogs_path %>
  </div>
</div>
  </div>
</div>