<div class="container">
  <div class="task col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 table-responsive">
  <h3>新規タスク作成</h3>
<%= render 'form' %>

<%= link_to '戻る', user_tasks_path(@task.user_id) %>

</div>
</div>
