  <div class="row">
    <div class="col-md-offset-4 col-md-4">
<h2>アイコンの変更</h2>
          </div>
  </div>
  <div class="row">
        <div class="col-md-offset-4 col-md-4">
  <div class="panel panel-success">
    <div class="panel-heading">
            <h3 class="panel-title"><%= @user.name %>のアイコン</h3>
          </div>
      <div class="panel-body">
       <% if @user.image? %>
        <%= image_tag(@user.image.url, :size => "50x50") %>
       <% else %>
        <%= image_tag 'noimage.gif' %>
       <% end %>
        <br><br>
   <%= link_to 'ユーザ一覧に戻る', users_path %>
      </div>
    </div>
    </div>
        </div>