body {
//  background-image: image-url("back.jpg");
//  -moz-background-size:cover;
//  background-size:cover;
  background-color: pink;
//}
}
.top h1{
  //color: white;
  //margin: 250px auto auto auto;
  text-align: left;
  font-size: 40px;
}

.top p{
  //color: white;
  font-size: 40px;
  text-align: left;
}

.top {
  //color: white;
  font-size: 20px;
  text-align: left;
}