<p>こんにちは <%= @resource.email %>!</p>

<p>あなたのパスワード変更が要求されました。下記のリンクからパスワードが変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワード変更を要求した覚えがなければ、このメールは無視してください。</p>
<p>上記リンクをクリックして新しパスワードを作成しない限り、パスワードは変更されません。</p>
